* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #f0f0f0;
  padding: 20px;
}

.form-container {
  width: 50%;
  margin: 0 auto 30px auto;
}

.game-form {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
}

.game-form h2 {
  color: #5ec639;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.game-form label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1.25rem;
}

.game-form input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #2a2a2a;
  color: #f0f0f0;
  font-size: 1rem;
}

.game-form input:focus {
  outline: 2px solid #5ec639;
}

.game-form button {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #5ec639;
  color: #121212;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease;
}

.game-form button:hover {
  background-color: #4ba72c;
}

.game-form button:active {
  transform: translateY(4px);
}

.list-container {
  width: 90%;
  margin: 0 auto;
}

.game-list h2 {
  color: #5ec639;
  text-align: center;
  margin-bottom: 20px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

.game-item {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  flex: 1 1 calc(20% - 25px);
  max-width: calc(20% - 25px);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: background 0.2s ease, transform 0.5s ease;
}

.game-item:hover {
  background-color: #333;
  transform: scale(1.05);
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(255, 30, 30);
  border: none;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background 0.2s ease;
  z-index: 1;
}

.delete-btn:hover {
  background-color: rgb(220, 0, 0);
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(0, 170, 255);
  border: none;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background 0.2s ease;
  z-index: 1;
}

.edit-btn:hover {
  background-color: rgb(0, 144, 215);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
  background: #000000;
  padding: 25px 30px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: slideDown 0.25s ease;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease;
}
.close-btn:hover {
  color: #c9c9c9;
}

.modal-title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.4em;
  color: #5ec639;
}

.info-box {
  background: #f7f7f7;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.info-box label {
  font-weight: 600;
  color: #52ad31;
  display: block;
  margin-bottom: 4px;
}

.info-box p {
  margin: 0;
  color: #000000;
  font-size: 0.95em;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
